*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #2b2b2b;
}


header {
    background-color:#787878;
    color: #c0c0c0;
    padding: 1rem 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.navbar .Logo {
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar a {
    color:#8b0000;
    text-decoration: none;
    font-weight: 700;
}

.hero {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_T5FgqA4R9cfIGCP2xgEq3pi42QiFFe7HZOIYf2CBfeqOYmNd_n_H14rb2CLQpOtG_ugogcqc) no-repeat center center/cover;;
    color: #8b0000;
    text-align: center;
    padding: 6rem 4rem;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color:#2b2b2b (0, 0, 0, 0, 0.1);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 2.5 rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: #787878;
    color: #c0c0c0;
    padding: 0.75rem 1.5 rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bolt;
    transition: background-color 0.3s;
} 

.btn:hover {
    background-color: #8b0000;
}

.Cines7090 {
    display: grid;
    grid-template-columns: repeat(autofit, mimax (288px, 1fr));
    gap: 2rem;
    padding: 3rem 2rem;
}

.Cine {
    background-color:#d4af37;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
    text-align: center;
    transition: trasnform 0.3
}

.Cine:hover{
    transform: translateY( -5px)
}

.Cine img {
    width: 800px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: transform 0.3;
}

.card img:hover {
    transform: scale (1.05);
}

.card h2 {
    margin-bottom: 0.5rem;
}

.card a {
    color: #2b2b2b;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #787878;
    color: #c0c0c0;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
}